#app{
	margin-top: 100px;
}

#all-single-posts{

	background-color: #343a3e;
	padding: 50px;
	margin: 50px 50px 50px 85px;
	color: white;
}


/*  custom search bar */
#custom-search-input{
	margin-right: 10px;
    padding: 0px;
    border: solid 1px #E4E4E4;
    border-radius: 16px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

/* catagory */

.catagory{
	margin: 30px 10px 30px 0;
	
}

.catagory a{
	text-decoration: none;
}

.catagory a:hover,
.catagory a li:hover{

	background-color: gray;
	color: white;
}


/* archive */

.archive{
	margin: 30px 10px 30px 0;
	//width: 100px;
}

.archive a{
	text-decoration: none;
}

.archive a:hover,
.archive a li:hover{

	background-color: gray;
	color: white;
}


#post-heading-section h1,
#post-heading-section a{

    display: inline-block;

}

#post-heading-section h1{
    width: 630px;
}